<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Spring MVC GeekApp</title>
</head>

<body>
<h1>Веб-приложение: Spring MVC</h1>
<br>
<h4>Наши клиенты</h4>
<br>
<a th:href="@{/customers}">Список клиентов</a>
<br>
<a th:href="@{/customers/add}">Добавить нового клиента</a>
<br>
<h4>Наши товары</h4>
<br>
<a th:href="@{/products}">Список товаров</a>
<br>
<a th:href="@{/products/add}">Добавить новый товар</a>
<br>
<h4>Бренды товаров</h4>
<br>
<a th:href="@{/brands}">Список брендов</a>
<br>
<a th:href="@{/brands/add}">Добавить новый бренд</a>
</body>
</html>